.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.app-footer {
  padding: 1.5rem;
  text-align: right;
  color: var(--text-secondary);
  font-size: 0.85rem;
  opacity: 0.7;
}
